#events {
    width: 50%;
    border-style: dotted;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-bottom: 20px;
}

#event-images {
    padding: 5px;
    margin: 5px;
}

.event-image {
    padding: 5px;
    margin: 5px;
    max-height: 200px;
    max-width: 200px;
}

.event-a {
    margin-left: 10px;
    margin-bottom: 30px;
} 


